.postcard {

  &-desc {
    display: flex;
  }

  &-author {

    &-img {
      width: 25px;
      height: 25px;
    }
  }

  &-md-img {
    width: 100px;
    height: 100px;
  }

  &-lg-img {
    position: relative;
    margin-top: 40px;
    width: 300px;
    height: 250px;
    object-fit: cover;
  }

  &-footer {

  }

}
