.slick-slider {
  height: 100%;

  .slick-list {
    height: 100%;
    margin-left: -16px;

    .slick-track {
    }
  }
}

.text-size {
  font-size: get($text-sizes,sm);
}

.right-button {
  background: $bg-right-color;
  border: 1px solid get($colors,color-grays-2);
  width: 25px;
  height: 25px;
  color: gray;
}

.left-button {
  background: white;
  border: 1px solid get($colors,color-grays-2);
  width: 25px;
  height: 25px;
  color: gray;
}


.small-description-image {
  object-fit: cover;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.small-desc-title {
  font-weight: 400;
  font-size: get($text-sizes,xs);

}
