.slick-slider {
  height: 100%;

  .slick-list {
    height: 100%;
    margin-left: -16px;
  }
}

.desc-text {
  font-size: 14px;
  text-align: left;
}

.right-button {
  background: $bg-left-color;
  width: 25px;
  height: 25px;
  color: gray;
}

.play-button {
  width: 36px;
  height: 36px;
  background: #ffffff;
  border-radius: 50%;
  position: relative;
  left: 156px;
  bottom: 270px;

  .play-arrow {
    position: absolute;
    right: 8px;
    top: 8px;
    color: #a09d9d;
    font-size: 20px;
  }
}

.small-description-image {
  object-fit: cover;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.small-desc-title {
  font-weight: 400;
  font-size: 12px;

}
